@import "variables";

.heading-primary {
  color: inherit;
  font-family: inherit;
  font-size: calc(1.5rem + 1.5vw);

  @media only screen and (max-width: $bp-700) {
    font-size: 2.3rem;
  }
}

.sub-heading {
  color: $orange;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
}

.header__menu-icon.hidden {
  display: none;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $white;
  width: 60%;
  height: 100%;
  z-index: 300;
  display: grid;
  grid-template-rows: min-content 1fr;
  padding: 4rem 10%;
  transform: scaleX(1);
  opacity: 1;
  transform-origin: left;
  transition: transform 0.2s, opacity 0.2s;

  &__close-icon {
    margin-bottom: 5rem;
    cursor: pointer;
    width: 2rem;
  }

  &__list {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__item {
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
      font-size: 2.5rem;
      font-weight: $font-weight-bold;
    }
  }
}

.menu.hidden {
  transform: scaleX(0);
  opacity: 0;
}

.overlay {
  background-color: rgba(29, 32, 38, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 299;
}

.overlay.hidden {
  display: none;
}

.cart {
  position: absolute;
  top: 8.5rem;
  right: 5rem;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 1rem rgba(1, 1, 1, 0.1);
  background-color: $white;
  opacity: 1;
  font-weight: $font-weight-bold;
  transform: scaleY(1);
  transform-origin: top;
  transition: all 0.3s;
  z-index: 100;

  display: grid;
  grid-template-columns: minmax(3rem, 5%) 1fr minmax(3rem, 5%);
  grid-row-gap: 3rem;

  @media only screen and (max-width: $bp-375) {
    width: 95%;
    right: 1rem;
    // transform: translateX(50%);
  }

  &__paragraph {
    border-bottom: 1px solid rgba(1, 1, 1, 0.1);
    padding: 3rem;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  &__main {
    padding: 10rem 12rem;
    color: $dark-grayish-blue;
    grid-column: 2 / 3;

    @media only screen and (max-width: $bp-500) {
      padding: 8rem 10rem;
    }

    @media only screen and (max-width: $bp-375) {
      padding: 6rem 8rem;
    }

    &--info {
    }
  }
}

.cart.hidden {
  opacity: 0;
  transform: scaleY(0);
}

.cart__item {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  &--img {
    grid-column: 1 / 2;
    width: 6rem;
    border-radius: 0.6rem;
  }

  &--description {
    grid-column: 2 / 3;
    font-weight: $font-weight-regular;
    color: $dark-grayish-blue;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &--name {
  }

  &--price {
  }

  &--delete {
    grid-column: 3 / 4;
    width: 1.5rem;
    cursor: pointer;
  }

  &--submit {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border: none;
    background-color: $orange;
    display: inline-block;
    justify-self: center;
    margin-bottom: 3rem;
    cursor: pointer;
    font-family: inherit;
    color: $white;
    font-weight: $font-weight-bold;
    width: 100%;
    padding-block: 1.5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
  }

  &--submit.hidden {
    display: none;
  }
}

.modal {
  background-color: rgba(1, 1, 1, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  &__btn {
    position: absolute;
    z-index: 100;
    top: 42%;
    background-color: $white;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 1rem;
    }
  }

  &__container {
    max-width: 35vw;
    margin-block: 10rem;
    position: relative;
    gap: calc(1rem + 2vw);

    @media only screen and (max-width: $bp-1100) {
      max-width: 42vw;
    }

    @media only screen and (max-width: $bp-1000) {
      max-width: 45vw;
    }

    @media only screen and (max-width: $bp-700) {
      max-width: 50vw;
    }

    @media only screen and (max-width: $bp-500) {
      max-width: 80vw;
    }
  }

  &__main {
    grid-row: 1 / 2;
    position: relative;
    height: 50rem;
    margin-bottom: 3rem;
    overflow: hidden;
    border-radius: 1.5rem;

    div {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 1.5rem;
      transition: all 0.3s;
    }

    &--img {
      width: 110%;
      height: 110%;
      border-radius: 1.5rem;
    }
  }

  &__gallery {
    width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    &--item {
      width: 100%;
      border-radius: 1.5rem;
      cursor: pointer;
      border: 2px solid transparent;

      &-active {
        border: 2px solid $orange;
        opacity: 0.7;
      }

      @media only screen and (max-width: $bp-1000) {
        border-radius: 1.4rem;
      }

      @media only screen and (max-width: $bp-700) {
        border-radius: 1.2rem;
      }

      @media only screen and (max-width: $bp-500) {
        border-radius: 1rem;
      }

      @media only screen and (max-width: $bp-375) {
        border-radius: 0.8rem;
      }
    }
  }
}

.modal.hidden {
  visibility: hidden;
  opacity: 0;
}

.button-next {
  right: 0;
  transform: translateX(50%);
}

.button-previous {
  left: 0;
  transform: translateX(-50%);
}

.icon-close {
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;

  svg {
    transform: scale(1.2);
    path {
      width: 2rem;
      fill: $white;
      transition: all 0.3s;
    }
  }

  svg:hover path {
    fill: $orange;
  }
}

#price {
}

#quantity {
}

#total {
  font-weight: $font-weight-bold;
  color: $black;
}
